/* Style Settings */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');
:root {
    --font: 'Inter';
}

body {
    /* background: linear-gradient(30deg, #AA79FE,#905CFC, #7647F8); */
    background-color: #000;
    background-image: url(/assets/astronaut.gif);
    background-repeat: no-repeat;
    background-attachement: fixed;
    background-position: center;
	/* background-size: 450% 450%; */
	/* animation: gradient 5s ease infinite; */
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.theme-light {
    --color-main: #fff;
    --color-text: #fff;
 }


#Photo {
    width: 100px;
    height: 100px;
    display: block;
    margin: 8px auto 13px;
    border-radius: 25%;
}

#Name {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    display: block;
    font-family: 'inter';
    text-align: center;
}

#title {
    color: #fff;
    font-size: 20px;
    font-weight: 900;
    line-height: 1.25;
    display: block;
    font-family: var(--font);
    width: 20%;
    margin-top: 50px;
    text-align: center;
    text-decoration: none;
}

#linksbutton {
    width: auto;
    text-align: center;
    margin: 10px auto;
    gap: 0 24px;
    margin: 27px auto;
}

.links {
    display: inline-block;
        background-color: rgba(255,255,255, .3);
    color: #000;
    font-family: var(--font);
    text-align: center;
    margin-bottom: 8px;
    padding: 17px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    transition: all .25s cubic-bezier(.08, .59, .29, .99);
    border: solid var(--color-main) 2px;
}

.links:hover {
    background-color: #7647F8;
    color: #fff;
    transform: scale(1.1);
    opacity: 100%;
}


.gears {
    width: auto;
    text-align: center;
    margin: 10px auto;
    padding-bottom: 20vh;
    gap: 24px;
  }

  @media (max-width: 768px) {
    .gears {
      padding-bottom: 15vh; 
    }
  }
  
  @media (max-width: 480px) {
    .gears {
      padding-bottom: 10vh; 
    }
  }
  

.gear {
    display: inline-block;
    gap: 18px;
        background-color: #fff;
    color: #000;
    font-family: var(--font);
    text-align: center;
    margin-bottom: 10px;
    padding: 12px;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    transition: all .25s cubic-bezier(.08, .59, .29, .99);
    border: solid var(--color-main) 2px;
}

.footervalue {
    text-align: center;
    font-size: 1.3rem;
    margin-top: 10px;
}

.footervalue a {
    text-decoration:none;
}

#footertext {
    color: var(--color-main);
    font-size: 12px;
    font-weight: 300;
    line-height: 1.25;
    display: block;
    font-family: var(--font);
    width: 100%;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
}
